<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=0">
    <title>Sensor monitor</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="{{url_for('static', filename='js/simple_ux.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/index.css')}}"
    ></link>
  </head>
  <body>
    <div class="navbar" id="navbar">
      <div>gnugroho</div>
      <div class="nav-links slide" id="nav-menu">
        <ul >
          <li><a href="/">Home</a></li>
          <li><a href="/appconfig">Config</a></li>
          <li><a href="/checkmqtt">Mqtt Watcher</a></li>
          <li><a href="/docs">Docs</a></li>
        </ul>
        
      </div>
      <div class="ham-bt" onclick="showMenuHandler()">
        <input type="checkbox" id="show-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div class="header" id="header-page">
      <h1>Welcome :)</h1>
      <p>
        Find some futures I'll make here
      </p>
    </div>
  
    <div class="content">
      <h1>Futures</h1>
      <div class="card-wrapper" id="card-wrapper">
        <div></div>
      </div>
    </div>
  </body>
</html>
